.static {
    position: relative;
    /* width: 30px; */
    /* height: 50px; */
    border: thin solid;
    top:50px;
    left: 50px;

}
.container {
    position: relative;
    border: 2px solid red;
    width: 200px;
    height:200px ;

}
.contain {
    position: absolute;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    top: 30px;
    right: 40px;
    z-index: 1;
}.fixed {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: yellow;
    left: 400px;
}

